#define PUSH_GATEWAY_BASEURL "https://push-gateway.example.org/metrics/job/plantcare/instance/a"
#define PLANTS_CARE_BASEURL "https://plants-care.example.org/api/watering/a"
#define WIFI_SSID "replace_me"
#define WIFI_PASS "replace_me"
