#define PUSH_GATEWAY_BASEURL "https://ip:5091/metrics/job/plantcare/instance/a"
#define PLANTS_CARE_BASEURL "https://ip:5080/api/watering/a"
#define WIFI_SSID "replace_me"
#define WIFI_PASS "replace_me"
